.container {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.error {
    color: rgb(201, 0, 0);
    font-size: 14px;
    margin-top: 10px;
}

.counterLength {
    color: rgb(132, 132, 132);
    font-size: 12px;
    margin-top: 3px;
}