.default-input {
    height: 60px;
    border-radius: 7px;
    width: 600px;
    outline: none;
    color: rgb(144, 144, 144);
    padding-left: 10px;
    border: 1px solid rgb(87, 87, 87);
    overflow-y: hidden;
    resize: none;
    background-color: transparent;
    padding-top: 5px;
}


.description-input {
    overflow: hidden;
    height: 300px;
    border-radius: 7px;
    padding-bottom: 265px;
    padding-left: 10px;
    width: 500px;
    outline: none;
    color: rgb(144, 144, 144);
    border: 1px solid rgb(87, 87, 87);
    display: block;
    resize: none;
    background-color: transparent;
    margin-top: 30px;
    
}
